.UsersData {
  width: 100%;
  font-family: Montserrat;
  font-size: 0.9em;
  text-align: center;

  color: #393939;
  border-bottom: 2px solid #cab0b0;
}
.UsersData tr {

    border-bottom: 2px solid #cab0b0;
    
}

.Delete {
  background: linear-gradient(
      180deg,
      #770a0a 0%,
      rgba(126, 8, 8, 0.851875) 18.75%,
      rgba(155, 0, 0, 0.21) 100%
    ),
    linear-gradient(0deg, rgba(220, 50, 50, 0.8), rgba(220, 50, 50, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat;
  font-size: 0.95em;
  cursor: pointer;
  mix-blend-mode: normal;
}
