.Editor {
  margin-top: 10px;
  display: grid;
  width: 100vw;
  grid-template-columns:  2fr 2fr;
  grid-template-areas: "field  segmentation";
}

.Palette {
  position: relative;
  grid-area: segmentation;

}

.Field {
  position: relative;
  grid-area: field;
  left: 20vw;
  
}

.Img {
  max-width: 650px;
  pointer-events: none;
}

.Segmentation {
  position: relative;
  grid-area: segmentation;
  margin-top: 11%;
  z-index: 100;
}

.Canvas {
  position: absolute;
  opacity: 0.5;
}

.Auto {
  position: relative;
  transform: translate(-50%, 0);
  display: block;
  width: 220px;
  height: 40px;

  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 11.5vw;
 

  background-color: #f2e2e2;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 100px;

  font-size: 1.3em;
  text-align: center;
  color: #393939;

  cursor: pointer;
  text-decoration: none;
  user-select: none;
  outline: none;
  transition: 0.2s;
}
.Auto:hover {
  background: #f2e2e2d0;
  border: 0;
}
.Auto:active {
  background: #f2e2e2d0;
  border: 0;
}

.ContainerEdit {
  position: relative;
  display: block;
  left: 15%;
  width: 475px;
}

.AutoMarkup__Text {
  position: relative;
  display: block;
  font-size: 1.6em;
  padding-top: 6px;
  padding-bottom: 10px;
  margin-top: 8px;
  margin-left: 12%;

  color: #393939;
}
.Brush__Text {
    position: relative;
    display: block;
    font-size: 1.6em;
    padding-top: 12px;
    margin-top: 10px;
    margin-left: 25%;
    color: #393939;

}

.Model__Text {
  position: relative;
  display: inline-block;
  font-size: 1.3em;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 9px;
  left: 5%;

  color: #393939;
}

.SelectModels {
  position: relative;
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 5px;
  width: 160px;
  overflow: hidden;
  left: 5%;

  font-size: 1em;
  border: none;
  outline: none;
  color: #393939;
}
.OptionItem {
  position: relative;
  width: 160px;
  overflow: hidden;
  font-size: 1em;
}

.AutoMarkup {
  position: relative;
  margin-left: 10%
}

.Save_button {
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  width: 220px;
  height: 45px;

  background-color: #f2e2e2;
  margin-left: 20%;
  margin-top: 15px;

  border: 0;
  box-sizing: border-box;

  border-radius: 100px;

  font-size: 1.3em;
  padding-top: 8px;
  padding-bottom: 6px;

  text-align: center;
  color: #393939;
}

.Save_button:active {
  box-shadow: none;
}
.Save_button:hover {
  background: #f2e2e2d0;
  border: 0;
}