.Filter {
  position: relative;
  display: inline-block;
  font-size: 17.5px;
  bottom: -9px;
  width: 150px;
  z-index: 100;
  border-radius: 2px;
  white-space: nowrap;
}


.Filter__Button {
  cursor: pointer;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  border-radius: 2px;
  
  
}

.Filter__Button:hover {
  background: #ccc;
}

.Filter__Content {
  display: none;
  position: absolute;
  text-align: center;
  padding: 3px 4px 3px 4px;
  background: #fbf6f6;
  border-radius: 5px;
  width: 100%;
  z-index: 100;
}
.Filter__Content:hover {
  display: block;
}

.Filter__Content ul {
  margin: 0;
  padding: 0;
}

.Filter__Content ul li {
  list-style: none;
  
}

.Filter__Content ul li:hover {
  background: #ccc;
  cursor: pointer;
  
}


.Children {
  position: relative;

  background: #fbf6f6;
}

.Children ul li:hover {
  background: #ccc;
  cursor: pointer;
}


/* .Filter__Button:not(:hover) + .Filter__Content {
  display: none;
} 

.Filter__Button:hover + .Filter__Content {
  display: block;
} */

