 .ImgCore {
    display: table;
    white-space: nowrap;
    margin-bottom: 20px;
    outline: none;
  }

  
  .Img {
    width: 190px;
    height: 270px;
    margin: 0 auto;
    background: #f8ebeb;
    border: 1px solid #676363;
    box-sizing: border-box;
  }
  
  .Name {
    margin-top: 10px;
    margin-left: 27px;
    padding-right: 4px;
    float: left;
    font-family: Montserrat;
    font-size: 0.9em;
    color: #000000;
  
    opacity: 0.75;
  }
  
  
  