.GalleryLine {
  position: relative;
  width: 100%;
}

.Slider {
  position: relative;
  z-index: auto;
  margin-top: 25px;
  margin-bottom: 55px;
  width: 87%;
  left: 6%;
  outline: none;
  display: inline-block;
}