.UploadPhotos {
    position: absolute;
    
    left: 16%;
    top: 19%;
    width: 64em;
    height: 33em;
    
    background: #fbf6f6;
    box-sizing: border-box;
    box-shadow: 2px 15px 50px 8px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
  
  .UploadPhotosText {
    position: relative;
    /* height: 54px; */
    height: 1.4em;
    padding-top: 13px;
    padding-bottom: 10px;
    font-size: 2.375em;
    text-align: center;
    background: rgba(126, 110, 110, 0.08);
    color: #393939;
    
    mix-blend-mode: normal;
  
  }
  
  .FormUploadPhotos {
    position: absolute;
    height: 85%;
    width: 100%;
    padding: 6px;
    overflow-y: scroll;
    font-size: 1.1em;
  
    box-sizing: border-box;
    color: #000000;
  }
 
  
  .FormUploadPhotos .BtnSignIn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 0.55em;
    width: 8em;
    height: 2.0em;
    background: rgba(126, 110, 110, 0.08);
    border: 0;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
  
    padding-top: 5px;
    padding-bottom: 5px;
  
    font-size: 1.3em;
    text-align: center;
    color: #393939;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  
    cursor: pointer;
    display: block;
    text-decoration: none;
    user-select: none;
    outline: none;
    transition: 0.2s;
  }
  .FormSignIn .BtnSignIn:hover {
    background: rgba(126, 110, 110, 0.2);
    border: 0;
  }
  .FormSignIn .BtnSignIn:active {
    background: rgba(126, 110, 110, 0.2);
    border: 0;
  }
  