.ButtonLike {
    position: relative;
    width: 1.2em;
    height: 1.6em;
   
    outline: none;
    font-size: 0.9em;
    margin-top: 6px;
    margin-left: 83px;
    color: #000000;
    display: inline-block;
    opacity: 0.75;
}
  .Add {
      position: relative;
    cursor:pointer;
  
    font-size: 1.1em;
    color: #000000;
    opacity: 0.75;
    background: transparent;
    outline: transparent;
    -webkit-filter: none;
    filter: none;
  }
  
  .Add:hover {
    color: red;
  }
  


  
  .Remove  {
    font-size: 1.1em;
    animation: size .4s;
    color:#e23b3b;
    background: transparent;
    border: transparent;
  }
  
  .Count span {
      position: relative;
      margin-left: 9px;
  }
  @keyframes size {
    0% {padding:10px 12px 8px;}
    50% {padding:14px 16px 12px;  
      margin-top:-4px;}
    100% {padding:10px 12px 8px;}
  }