  .ImgCore {
    position: relative;
  
    white-space: nowrap;
    margin-bottom: 20px;
    margin-right: 28px;
    outline: none;
  }
  .UserName {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.0em;
    text-align: center;
  
    color: #000000;
  
    opacity: 0.9;
  }
  
  .Img {
    position: relative;
    margin: 0 auto;
    
  }
  .Img img {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-height: 650px;
    
  }
  
  .AddToYourself {
    position: relative;
    padding-right: 7px;
    float: right;
    
    bottom: 4px;
    font-size: 0.9em;
    color: #000000;
  
    opacity: 0.9;
  }
  
  .Check {
    position: relative;
    display: inline-block;
    margin-left: 2px;
    top: 8px;
    cursor: pointer;
  }
  
  