.Segment {
    position: relative;
    background-color: rgba(242, 226, 226, 1);
    border: 2px solid #D0B8B8;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    width: 65%;
    height: 70px;
    margin: 10px 12% 25px;
    padding: 2px;
}

.Arrow{
}

.Header {
    background: rgba(85, 40, 40, 0.08);
    border-radius: 5px;
    padding: 4px 0;
    display: flex;
}

.DropDownColor{
    width: 100%;
}
.DropColor{
    z-index: 200;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    left: 30px;
    margin-top: 3px;
    
}
.Drop{
    z-index: 200;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-top: 4px;
    border-radius: 2px;
}

.ColorContainer{
    display: flex;
    width: 50%;
    
    cursor: pointer;
}

.Color {
   
    width: 30px;
    height: 30px;
   
  
    border-radius: 6px;
    cursor: pointer;
}

.Delete{
    cursor: pointer;
    margin-right: 10px;
}
.DeleteImg{
    height: 14px;
    margin: auto;
}

.Info {
    display: flex;
    margin-top: 5px;
    padding-top: 2px;
}

.Name {
    font-family: Montserrat, serif;
    margin-left: 10px;
    
}

.Value {
    font-family: Montserrat, serif;
    margin: auto;
    cursor: pointer;
}

.DropValue{
    background-color: #fbf6f6;
    width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    padding: 0 2px;
    margin: 0;
}