.GalleryLine {
  position: relative;
  width: 100%;
}

.Slider {
  position: relative;
  z-index: auto;
  margin-top: 25px;
  margin-bottom: 55px;
  width: 86%;
  left: 100px;
  outline: none;
  display: inline-block;
}

.ImgCoreContainer {
  position: relative;
  white-space: nowrap;
  margin-bottom: 20px;
  outline: none;
}

.ImgOriginal {
  position: relative;
  margin: 0 auto;
}
.ImgOriginal img {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-height: 650px;
}
.OriginalText {
  position: relative;
  overflow: hidden;
  
  white-space: normal;
  word-wrap: break-word;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;

  color: #3a3a3a;
  opacity: 0.9;
}

.NewPhoto {
  position: relative;
  max-height: 650px;
  cursor: pointer;
  margin-top: 150%;
}
.NewPhoto img {
  position: relative;
  width: 70%;
  margin: 0 auto;
  max-height: 650px;
}


