.GalleryPage {
  position: fixed;
  z-index: 1;
  background: #fbf6f6;
  top: 9%;
  left: 2vw;
  width: 96vw;
  min-height: 100vh;
  border-radius: 2px;
}

.GalleryHead {
  display: flex;
  flex-direction: column;
  position: relative;
  /* height: 54px; */
  height: 115px;
  font-size: 2.1em;
  text-align: center;
  background: rgba(85, 40, 40, 0.08);
  color: #393939;

  mix-blend-mode: normal;
}

.GalleryHead__Text {
  padding-top: 20px;
}

.ScrollGalleryVertical {
  position: relative;
  width: 100%;
  height: 580px;
  overflow: scroll;
}

.Filter {
  font-size: 1.3em;
  display: flex;
}

.NameOfPlace {
  position: relative;
  left: 8%;
  width: 70%;
  font-size: 17.5px;
  bottom: 18.5%;
  right: 15%;
}
