.Login {
  position: absolute;
  left: 29%;
  top: 25%;
  width: 40em;
  height: 20.5em;
  overflow: hidden;
  background: #fbf6f6;
  box-sizing: border-box;
  box-shadow: 2px 15px 50px 8px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.LoginText {
  position: relative;
  /* height: 54px; */
  height: 1.4em;
  padding-top: 13px;
  padding-bottom: 10px;
  font-size: 2.375em;
  text-align: center;
  background: rgba(126, 110, 110, 0.08);
  color: #393939;
  
  mix-blend-mode: normal;

}

.FormSignIn {
  position: absolute;
  height: 77%;
  width: 100%;
  padding: 6px;
  
  font-size: 1.1em;

  box-sizing: border-box;
  color: #000000;
}
.FormText {
  position: relative;
  
  font-size: 1.1em;
  left: 2%;
  bottom: -4px;
}

.FormSignIn input {
  position: relative;
  margin: 10px;
  padding: 6px;
  background: rgba(254, 252, 252, 0.82);
  border: 0px solid rgba(206, 206, 206, 0.4);
  box-sizing: border-box;
 
  border-radius: 5px;

  height: 40px;

  outline: none;
  font-size: 1.05em;
}
.FormSignUp input:active,
input:focus {
  border: 1px solid rgba(190, 190, 190, 0.04);
}

.inputEmail {
  width: 97%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.09);
}
.inputPassword {
  width: 97%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.09);
}

.isRemember {
  position: relative;
  display: inline-block;
  bottom: 5%;
  opacity: 0.8;
}
.FormSignIn .BtnSignIn {
  position: relative;
  left: 24%;
  bottom: 3%;
  transform: translate(-50%, 0);
  width: 8em;
  height: 2.0em;
  background: rgba(126, 110, 110, 0.08);
  border: 0;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 100px;

  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 1.3em;
  text-align: center;
  color: #393939;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  outline: none;
  transition: 0.2s;
}
.FormSignIn .BtnSignIn:hover {
  background: rgba(126, 110, 110, 0.2);
  border: 0;
}
.FormSignIn .BtnSignIn:active {
  background: rgba(126, 110, 110, 0.2);
  border: 0;
}
