* {
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

.Content {
  min-height: 100vh;
  min-width: 100vw;

  z-index: -1;
  background: url("./assets/Background.svg") no-repeat fixed;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100% ; /*Современные браузеры */
}


@import url('//fonts.googleapis.com/css?family=Nunito');