#input_file {
    visibility: collapse;
    height: 0;
    width: 0;
}
.inputFile{
    visibility: collapse;
    height: 0;
    width: 0;
}

span, a, div, img, canvas{
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

img{
    pointer-events: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}